@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
        document.getElementById('menuInvoice').className = 'active';        
    </script>
</head>

<div class="row">
    <div class="col-sm-6">
        <h4 class="page-title">Create Invoice</h4>
    </div>
    <div class="col-sm-6" style="text-align:right">
        <div class="form-group gender-select">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input id="rdoWalkInPatient" type="radio" name="patient" class="form-check-input" checked>WalkIn Patient
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input id="rdoMemberPatient" type="radio" name="patient" class="form-check-input">Member Patient
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
      
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Invoice No.</label>
                        <input class="form-control" type="text" value="INV-0001" disabled>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Invoice Date<span class="text-danger">&nbsp;*</span></label>
                        <div class="cal-icon">
                            <input id="inputDate" class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Doctor<span class="text-danger">&nbsp;*</span></label>
                        <select class="select">
                            <option>Please Select</option>
                            <option>Doctor Name</option>
                            <option>Doctor Name</option>
                            <option>Doctor Name</option>
                        </select>
                    </div>
                </div>     
                <div class="col-sm-6 col-md-3">                    
                    <div id="divWalkInPatient" class="form-group">
                        <label>Patient<span class="text-danger">&nbsp;*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div id="divMemberPatient" class="form-group" style="display:none">
                        <label>Patient<span class="text-danger">&nbsp;*</span></label>
                        <select class="select">
                            <option>Please Select</option>
                            <option>PT-0001(Patient Name)</option>
                            <option>PT-0002(Patient Name)</option>
                            <option>PT-0003(Patient Name)</option>
                        </select>
                    </div>
                </div>                       
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-12" style="background-color:#e9ecef;padding:10px">
                    <div class="form-group">                       
                        <select class="select">
                            <option>Select Class</option>
                            <option>Sample Class</option>
                            <option>Sample Class</option>
                            <option>Sample Class</option>
                            <option>Sample Class</option>
                        </select>
                    </div>
                    <div class="form-group">                      
                        <select class="select">
                            <option>Select Category</option>
                            <option>Sample Category</option>
                            <option>Sample Category</option>
                            <option>Sample Category</option>
                            <option>Sample Category</option>
                        </select>
                    </div>
                    <div>
                        <div class="roles-menu">
                            <ul>
                                <li><a href="#">Item ABC</a></li>
                                <li><a href="#">Item XYZ</a></li>
                                <li><a href="#">Item DEF</a></li>
                                <li><a href="#">Item JKL</a></li>
                                <li><a href="#">Item ABC</a></li>
                                <li><a href="#">Item XYZ</a></li>
                                <li><a href="#">Item DEF</a></li>
                                <li><a href="#">Item JKL</a></li>
                                <li><a href="#">Item ABC</a></li>
                                <li><a href="#">Item XYZ</a></li>
                                <li><a href="#">Item DEF</a></li>
                                <li><a href="#">Item JKL</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Item ID">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Item Name">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-group">
                                <select class="select">
                                    <option>Select Unit</option>
                                    <option>လုံး</option>
                                    <option>ကဒ်</option>
                                    <option>ဘူး</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="number" placeholder="Qty">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="number" placeholder="Price">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="number" min="0" max="100" placeholder="Dis(%)">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-group">
                                <select class="select">
                                    <option>Select Expired</option>
                                    <option>3/2023</option>
                                    <option>10/2023</option>                                  
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">                         
                            <div><a href="#" class="btn btn-block btn-primary">ADD</a></div>                        
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div><a href="#" class="btn btn-success">Refresh</a></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-white">
                            <thead>
                                <tr>
                                    <th class="col-md-1">#</th>
                                    <th style="min-width:220px">Item</th>
                                    <th style="min-width:80px" class="text-right">Qty</th>    
                                    <th style="min-width:80px">Unit</th>                                   
                                    <th style="width:100px" class="text-right">Price</th>    
                                    <th style="width:80px" class="text-right">Dis</th>                               
                                    <th style="width:120px" class="text-right">Amount</th>
                                    <th class="col-md-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-1">1</td>
                                    <td style="min-width:220px">
                                        <label>Biogestic</label>                                    
                                    </td>
                                    <td style="min-width:80px" class="text-right">
                                        <label>1</label>                                    
                                    </td>
                                    <td style="min-width:80px">
                                        <label>ကဒ်</label>
                                    </td>
                                    <td style="width:100px" class="text-right">
                                        <label>2000</label>                                  
                                    </td>
                                    <td style="width:80px" class="text-right">
                                        <label>200</label>                                     
                                    </td>
                                    <td style="width:120px" class="text-right">
                                        <label>1800</label>                                    
                                    </td>
                                    <td class="col-md-1"><a href="javascript:void(0)" class="text-danger font-18" title="Remove"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">2</td>
                                    <td style="min-width:220px">
                                        <label>Chest X-Ray</label>
                                    </td>
                                    <td style="min-width:80px" class="text-right">
                                        <label>1</label>
                                    </td>
                                    <td style="min-width:80px">
                                        <label>-</label>
                                    </td>
                                    <td style="width:100px" class="text-right">
                                        <label>2000</label>
                                    </td>
                                    <td style="width:80px" class="text-right">
                                        <label>200</label>
                                    </td>
                                    <td style="width:120px" class="text-right">
                                        <label>1800</label>
                                    </td>
                                    <td class="col-md-1"><a href="javascript:void(0)" class="text-danger font-18" title="Remove"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-white">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right">Subtotal</td>
                                    <td style="text-align:right; padding-right:30px;width:230px">3,600</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">Tax</td>
                                    <td style="text-align:right; padding-right:30px;width:230px">
                                        <input class="form-control text-right form-amt" value="200" readonly="" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">Charges</td>
                                    <td style="text-align:right; padding-right:30px;width:230px">
                                        <input class="form-control text-right form-amt" value="0" readonly="" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        Voucher Discount %
                                    </td>
                                    <td style="text-align:right; padding-right:30px;width:230px">
                                        <input class="form-control text-right" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align:right;font-weight:bold">
                                        Grand Total
                                    </td>
                                    <td style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px;width: 230px">
                                        MMK 3,800
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Other Information</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center m-t-20">
                <a href="~/Invoice/InvoiceSlip" class="btn btn-success submit-btn m-r-10">Save & Print</a>          
                <button class="btn btn-primary submit-btn">Save</button>
            </div>
       
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $('#rdoWalkInPatient').change(function () {
            $('#divWalkInPatient').show();
            $('#divMemberPatient').hide();
        })

        $('#rdoMemberPatient').change(function () {
            $('#divWalkInPatient').hide();
            $('#divMemberPatient').show();
        })

        setTodayDate();

        function setTodayDate() {
            var today = new Date();
            var day = ("0" + today.getDate()).slice(-2);
            var month = ("0" + (today.getMonth() + 1)).slice(-2);
            var todayDate = day + "/" + month + "/" + today.getFullYear();
            $('#inputDate').val(todayDate);
        }

    })
</script>



