@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    <script type="text/javascript">
        document.getElementById('menuInvoice').className = 'active';
    </script>
</head>

<div class="row">
    <div class="col-sm-5 col-4">
        <h4 class="page-title">Invoice</h4>
    </div>
    <div class="col-sm-7 col-8 text-right m-b-30">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-white">CSV</button>
            <button class="btn btn-white">PDF</button>
            <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row custom-invoice">
                    <div class="col-6 col-sm-6 m-b-20">
                        <img src="~/assets/img/logo-dark.png" class="inv-logo" alt="">
                        <ul class="list-unstyled">
                            <li>ABC Clinic</li>                         
                            <li>01-501235,09-975334290</li>                          
                            <li>3864 Sample Street, Sample Twp, Yangon</li>                         
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 m-b-20">
                        <div class="invoice-details">
                            <h3 class="text-uppercase">Invoice #INV-0001</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <h5>Date: <span>January 1, 2022</span></h5>
                                </li> 
                                <li>
                                    <h5>Doctor: <span class="text-right">Doctor Name</span></h5>
                                </li>
                                <li>
                                    <h5>Patient: <span class="text-right">Patient Name</span></h5>
                                </li>                             
                            </ul>                           
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-white">
                        <thead>
                            <tr>
                                <th class="col-md-1">#</th>
                                <th style="min-width:150px">Item</th>
                                <th style="min-width:100px" class="text-right">Qty</th>
                                <th style="min-width:50px">Unit</th>
                                <th style="width:100px" class="text-right">Price</th>
                                <th style="width:100px" class="text-right">Dis</th>
                                <th style="width:120px" class="text-right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-1">1</td>
                                <td style="min-width:150px">
                                    <label>Biogestic</label>
                                </td>
                                <td style="min-width:100px" class="text-right">
                                    <label>1</label>
                                </td>
                                <td style="min-width:50px">
                                    <label>ကဒ်</label>
                                </td>
                                <td style="width:100px" class="text-right">
                                    <label>2,000</label>
                                </td>
                                <td style="width:100px" class="text-right">
                                    <label>200</label>
                                </td>
                                <td style="width:120px" class="text-right">
                                    <label>1,800</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-1">2</td>
                                <td style="min-width:150px">
                                    <label>Chest X-Ray</label>
                                </td>
                                <td style="min-width:100px" class="text-right">
                                    <label>1</label>
                                </td>
                                <td style="min-width:50px">
                                    <label>-</label>
                                </td>
                                <td style="width:100px" class="text-right">
                                    <label>2,000</label>
                                </td>
                                <td style="width:100px" class="text-right">
                                    <label>200</label>
                                </td>
                                <td style="width:120px" class="text-right">
                                    <label>1,800</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="row invoice-payment">
                        <div class="col-sm-7">
                        </div>
                        <div class="col-sm-5">
                            <div class="m-b-20">
                                <div class="table-responsive no-border">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <th>Subtotal:</th>
                                                <td class="text-right">3,600</td>
                                            </tr>
                                            <tr>
                                                <th>Tax: <span class="text-regular">(10%)</span></th>
                                                <td class="text-right">200</td>
                                            </tr>
                                            <tr>
                                                <th>Charges: <span class="text-regular">(5%)</span></th>
                                                <td class="text-right">100</td>
                                            </tr>
                                            <tr>
                                                <th>Voucher Discount: <span class="text-regular">(10%)</span></th>
                                                <td class="text-right">200</td>
                                            </tr>
                                            <tr>
                                                <th>Grand Total:</th>
                                                <td class="text-right text-primary">
                                                    <h5>MMK 3,800</h5>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-info">
                        <h5>Other information</h5>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed dictum ligula, cursus blandit risus. Maecenas eget metus non tellus dignissim aliquam ut a ex. Maecenas sed vehicula dui, ac suscipit lacus. Sed finibus leo vitae lorem interdum, eu scelerisque tellus fermentum. Curabitur sit amet lacinia lorem. Nullam finibus pellentesque libero, eu finibus sapien interdum vel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


