@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    <script type="text/javascript">
        document.getElementById('menuDoctor').className = 'active';
    </script>
</head>

<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Doctor Profile</h4>
    </div>

    <div class="col-sm-5 col-6 text-right m-b-30">
        <a href="~/Doctor/DoctorSetup" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
    </div>
</div>

<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-profile" data-toggle="tab">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Info</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane show active" id="about-profile">
            <div class="card-box profile-header">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-view">
                            <div class="profile-img-wrap">
                                <div class="profile-img">
                                    <a href="#"><img class="avatar" src="~/assets/img/doctor-thumb-04.png" alt=""></a>
                                </div>
                            </div>
                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="profile-info-left">
                                            <h3 class="user-name m-t-0 mb-0">Dr. Sample Name</h3>
                                            <small class="text-muted">Gynecologist</small>
                                            <div class="staff-id">Employee ID : DR-0001</div>
                                            <div class="staff-msg"><a href="~/Doctor/DoctorSchedule" class="btn btn-primary">View Active Schedule</a></div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="personal-info">
                                            <li>
                                                <span class="title">Phone:</span>
                                                <span class="text"><a href="#">09-951087350</a></span>
                                            </li>
                                            <li>
                                                <span class="title">Email:</span>
                                                <span class="text"><a href="#">drsamplemail@example.com</a></span>
                                            </li>
                                            <li>
                                                <span class="title">Birthday:</span>
                                                <span class="text">3rd March</span>
                                            </li>
                                            <li>
                                                <span class="title">Address:</span>
                                                <span class="text">714 Sample Road, Yangon City, Myanmar, 11151</span>
                                            </li>
                                            <li>
                                                <span class="title">Gender:</span>
                                                <span class="text">Male</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            <div class="card-box profile-header">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="personal-info">
                            <li>
                                <span class="title">Degree:</span><br />
                                <span class="text">MBBS (Ygn), MD - Obstetrics & Gynaecology (SG)</span>
                            </li>
                            <li>
                                <span class="title">Biography:</span><br />
                                <span class="text">He has serves in many international expert committee such as the American Diabetes
                                    Association International Committee for the Diagnosis of Diabetes (2008), the IDF Type 2
                                    guidelines revision committee and several WHO expert committees including the expert
                                    committee for diagnosis and classification of diabetes, and the committee on the diagnosis of
                                    diabetes in pregnancy.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab3">
            <div class="card-box profile-header">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="personal-info">
                            <li>
                                <span class="title">Department:</span>
                                <span class="text">ENT Department</span>
                            </li>                           
                            <li>
                                <span class="title">Test Fee:</span>
                                <span class="text">50%</span>
                            </li>
                            <li>
                                <span class="title">Sale Fee:</span>
                                <span class="text">50%</span>
                            </li>
                            <li>
                                <span class="title">General Lab Fee:</span>
                                <span class="text">50%</span>
                            </li>
                            <li>
                                <span class="title">Status:</span>
                                <span class="text"><a href="#">Active</a></span>
                            </li>
                            <li>
                                <span class="title">Booking Phone:</span>
                                <span class="text">09-951114320</span>
                            </li>
                            <li>
                                <span class="title">Booking Information:</span><br />
                                <span class="text">
                                    He has serves in many international expert committee such as the American Diabetes
                                    Association International Committee for the Diagnosis of Diabetes (2008), the IDF Type 2
                                    guidelines revision committee and several WHO expert committees including the expert
                                    committee for diagnosis and classification of diabetes, and the committee on the diagnosis of
                                    diabetes in pregnancy.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
