@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    <script type="text/javascript">
        document.getElementById('menuUser').className = 'active';
    </script>
</head>

<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">My Profile</h4>
    </div>

    <div class="col-sm-5 col-6 text-right m-b-30">
        <a href="~/User/UserSetup" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
    </div>
</div>

<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="profile-img-wrap">
                    <div class="profile-img">
                        <a href="#"><img class="avatar" src="~/assets/img/user.jpg" alt=""></a>
                    </div>
                </div>
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h3 class="user-name m-t-0 mb-0">Admin ABC</h3>
                                <small class="text-muted">Department : Admin Dept</small>
                                <div class="staff-id">Employee ID : UR-0001</div>
                            </div>
                            <ul class="personal-info m-t-30">
                                <li>
                                    <span class="title">Phone:</span>
                                    <span class="text"><a href="#">09-951087350</a></span>
                                </li>
                                <li>
                                    <span class="title">Email:</span>
                                    <span class="text"><a href="#">usersamplemail@example.com</a></span>
                                </li>
                                <li>
                                    <span class="title">Address:</span>
                                    <span class="text">714 Sample Road, Yangon City, Myanmar, 11151</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


