
.btn-outline-gray {border-color:#d1dee6;color:#1e1e28;}
.paging-div{margin:10px 0;background-color:#f3f3f3;padding:5px;}
.paging-num-div{display:flex;justify-content:right;color:transparent;font-size:0;}
.page-num{font-size:1em;}
.paging-item{font-size:1em;background-color:#dee2e6;color:#009efb;padding:5px 10px;margin:2px;}
.paging-item:hover{background-color:#009efb;color:#fff;}
.align-center{display:flex;align-items:center;}
.fee-box{border: 1px solid #bed6e7;padding: 5px;border-radius: 5px;margin-left: 10px;}
.fee-box:hover{border-color:#009efb}
