@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">      
        document.getElementById('menuAppointment').className = 'active';
    </script>
</head>

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Upcoming Appointments</h4>
    </div>
</div>

<div class="row filter-row">
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <label class="focus-label">Date</label>
            <div class="cal-icon">
                <input id="inputDate" class="form-control floating datetimepicker" type="text">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus" style="display:block">
            <label class="focus-label">Doctor</label>
            <div>
                <select class="select form-control floating">
                    <option>Select</option>
                    <option>Doctor Name</option>
                    <option>Doctor Name</option>
                    <option>Doctor Name</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus" style="display:block">
            <label class="focus-label">Patient</label>
            <div>
                <input class="form-control floating" type="text">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3" style="width:100%">
        <a href="#" class="btn btn-success" style="width:75%"> Search </a>
        <a href="#" class="btn btn-white" style="width:15%"><i class="fa fa-refresh"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline-block"><img width="28" height="28" src="~/assets/img/user.jpg" class="rounded-circle m-r-5" alt="">&nbsp;Dr. Aung Aung</h4> <div class="float-right"><span>Total Appointment: 30</span><a href="#" class="btn btn-primary m-l-5">View all</a></div> 
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">1</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0001</a>
                                </td>                             
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">2</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0002</a>
                                </td>                              
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">3</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0003</a>
                                </td>                               
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">4</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0004</a>
                                </td>                             
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">5</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0005</a>
                                </td>                              
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline-block"><img width="28" height="28" src="~/assets/img/user.jpg" class="rounded-circle m-r-5" alt="">&nbsp;Dr. Mi Mi</h4> <div class="float-right"><span>Total Appointment: 20</span><a href="#" class="btn btn-primary m-l-5">View all</a></div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">1</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0001</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">2</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0002</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">3</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0003</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">4</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0004</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">5</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0005</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline-block"><img width="28" height="28" src="~/assets/img/user.jpg" class="rounded-circle m-r-5" alt="">&nbsp;Dr. Htun Htun</h4> <div class="float-right"><span>Total Appointment: 35</span><a href="#" class="btn btn-primary m-l-5">View all</a></div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">1</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0001</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">2</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0002</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">3</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0003</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">4</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0004</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">5</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0005</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline-block"><img width="28" height="28" src="~/assets/img/user.jpg" class="rounded-circle m-r-5" alt="">&nbsp;Dr. Hla Hla</h4> <div class="float-right"><span>Total Appointment: 3</span><a href="#" class="btn btn-primary m-l-5 disabled">View all</a></div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td style="min-width:200px;">
                                    <a class="avatar" href="#">1</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0001</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">2</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0002</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <a class="avatar" href="#">3</a>
                                    <h2><a href="#">Patient Name <span>09-951067890</span></a></h2>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Timing</h5>
                                    <p>7.00 PM</p>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-outline-gray take-btn">APT-0003</a>
                                </td> 
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete_appointment" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/assets/img/sent.png" alt="" width="50" height="46">
                <h3>Are you sure want to delete this Appointment?</h3>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> 
    $(function () {

        setTodayDate();

        function setTodayDate() {
            var today = new Date();
            var day = ("0" + today.getDate()).slice(-2);
            var month = ("0" + (today.getMonth() + 1)).slice(-2);
            var todayDate = day + "/" + month + "/" + today.getFullYear();
            $('#inputDate').val(todayDate);
        }

    })
</script>




