@{
    Layout = "~/Views/Shared/_LayoutSetting.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    <script type="text/javascript">
        document.getElementById('menuPrinterSetting').className = 'active';
    </script>
</head>

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form>
            <h4 class="page-title">Printer Setting</h4>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Printer Name</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Printer Size</label>
                <div class="col-lg-9">
                    <select class="select">
                        <option>Select</option>
                        <option>Printer Information eg. ...mm</option>
                        <option>Printer Information eg. ...mm</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 m-t-20 text-center">
                <button type="button" class="btn btn-primary submit-btn">Save</button>
            </div>
        </form>
    </div>
</div>



